#AjaxLoading{
  display:none;
}
#Header {
	background: $color1;
  border-top: 1px solid black;
  #Logo {
    padding-right: 5px;
    //@include background(linear-gradient(#C14102 0, shade(#C14102, 20%) 100%));
    h1 {
      margin: 0;
      padding: 10px;
      a {
        font-size: 18px;
        font-family: Trebuchet MS;
        font-weight:normal;
        text-shadow: 0 -1px rgba(0,0,0,0.9);
        color: white;      
              }
    		}

  } //#LogoEnd

  #Menu{
   
    a{color: white;
      margin-left:-32px;


    }

  }

  .mw_header_bottom {
    width: 100%;
    display: block;
    padding-bottom: 10px;
    border-top: solid;
    border-top-width:1px;
    height:60px;
    @include background(linear-gradient(top, #852201, #6a1b00));
    .mw_search {
      display: inline-block;
      width: 70%;
      position: relative;
      vertical-align: middle;
      margin-top: -20px;
      input[type='text']{
        border: 1px solid black;
        background-color: #f1f0f0;
        font-size: 13px;
        padding: 4px;
        height: 23px;
        margin: 0;
        width: 100%;
        display: block;
      }

      .mw_search_btn {
        height: 33px;
        position: relative;
        float: right;
        top: -33px;
        right:-13px;
      }

    }//end search

    .mw_search{
        margin-left: 6px;
      }


    .mw_menu_btn {
      float: right;
      display:inline-block;
      margin-top:-20px;
      //display: block;
      
      &[data-ur-state="enabled"] span{
        @extend .sprites-menu-on;
      }
    }//menu btn end
  }//header bottom end

.mw_cart_btn {
        height: 40px;
        position: relative;
        top: -55px;
        float:right;
        display:block;
        right:30px;

      }


      .mw_user_btn {
        height: 40px;
        position: relative;
        top: -55px;
        display:block;
        float:right;
        right:20px;
      }
}


