
.ProductMain{
border:solid;
border-width: 1px;
background-color: whitesmoke;
	.DetailRow{
		margin-bottom: 10px;
	}
		.BulkDiscountLink{

	background-color: #822604;
	font-family: sans-serif;
	font-size: 16px;
	color: white;
	height:40px;
	border-radius: 5px;
			}		
}